body{
    background:url(Images/banner.jpg) no-repeat;
    background-repeat:repeat;
    background-size: 100% 130%;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #313030;
	background-color: Grey;
}
#wrapper {
	width:1000px;
	margin:0 auto;
	padding:20px 0 10px 0;
}
#header {
	padding:0px 0px 5px;
}

#header .top_banner{
	background:url(Images/banner.jpg) no-repeat left top;
	height:145px;
	padding:75px 95px 0 295px;
	border:#496066 solid 1px;
}

#head {
	font-size:33px;
    margin-top: -40px;
    margin-left: -250px;
    font-family:fantasy;
    font-size:50px;
    color: black;
}
#headp {
    margin-top: 0px;
    margin-left: -248px;
    font-family: fantasy;
    color: black;
    
}
.navigation{
	margin:-6px 0px 0px ;
	border-bottom:#adb1b2 solid 1px;
	padding:10px 5px 5px 5px;
	background: #e4e6e5;
}

.navigation ul{
	margin:0px;
	padding:0px;
}

.navigation ul li{
	margin:0px;
	padding:0px 30px;
	display:inline;
	font-size:15px;
	list-style-type:none;
	border-right:#868B8F solid 2px;
}

.navigation ul li a{
	color:#03314b;
	text-decoration:none;
}

.navigation ul li a:hover{
	text-decoration:underline;
}

.navigation ul li:last-child {
	border-right:none;
}
h1, h2, h3, h4, h5, h6, ul, ol, li, form, input, textarea {
	padding: 0px;
	margin: 0px;
}
a {
	color: #072FCF;
	text-decoration: underline;
}
a:hover {
	color: #072FCF;
	text-decoration: none;
}

.top {
	background-color: #f6f7f7;
	width: 980px;
	float: right;
	padding: 0px 10px 10px 10px;
}
.content {
	background-repeat: repeat-x;
	background-position: left top;
	width: 980px;
	float: right;
	padding-top: 8px;
}
.content-left {
	width: 739px;
	float: right;
}
.row1 {
	width: 739px;
	float: right;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d4d5d5;
}
.img {
	float: right;
}
.welcome {
	width: 562px;
	float: right;
}
.title {
	font-family:serif;
	font-size: 30px;
	font-weight: normal;
	color: #989b9c;
	margin-bottom: 20px;
}
.title span {
	color: #686868;
}
.row2 {
	background-color: #e8eae9;
	width: 737px;
	height: 216px;
	float: left;
	border: solid 1px #dbdada;
}
.section1 {
	width: 330px;
	height: 176px;
	float: left;
	padding: 20px;
}
.section2 {
	background-repeat: no-repeat;
	background-position: left top;
	width: 327px;
	height: 176px;
	float: right;
	padding: 20px;
}
.subtitle {
	font-family:serif;
	font-size: 30px;
	font-weight: normal;
    font-style: italic;
	color: #0b90d6;
	margin-bottom: 15px;
}
a.more {
	font-size: 12px;
	line-height: 25px;
	color: #4d4e4e;
	text-decoration: none;
	background-image: url(more-btn.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: left;
	display: block;
	width: 80px;
	height: 25px;
	padding-left: 10px;
}
.content-right {
	float: top-left;
	padding-right: 20px;
}
}
.content-right ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3e3d3d;
	text-decoration: none;
	text-align: left;
	display: block;
}
.content-right ul li a:hover {
	color: #0b90d6;
}
.bottom {
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	width: 1000px;
	height: 70px;
	float: left;
}
.bottom ul {
	margin-top: 30px;
	list-style-type: none;
}
.bottom ul li {
	display: inline;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
.bottom ul li a {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
}

.bottom a {
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 40px;
}
.bottom a:hover {
	text-decoration: none;
}
.main-nav a {
    font-family: serif;
    font-size: 14px;
letter-spacing: .2em;
color: #FFF;
display: block;
padding: 10px 0 10px 20px;
border-bottom: 1px dotted gray;
}
.main-nav {
width: 170px; background: Orange;

}
.content-right {
float:top-left;
}

* {padding:0; margin:0;}
a {text-decoration: none;}
li {list-style: none;}
#gallery 
{
	position:relative;
    float: right;
}
#gallery ul
{
	list-style-type:none; width:400;
}
#gallery li
{
	display:inline;
	float:right;
	padding:40px;
}
#gallery img
{
	border-style:none;
	height: 180px;
	width: 250px;
}
#gallery a
{
	text-decoration:none;
	font-style:italic;
}


}
.switchboard {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	font-style: italic;
	text-transform: capitalize;
	text-decoration: blink;
	color: Orange;
}
fieldset legend{
    color: Orange;
}
fieldset p label {
	color:black
	padding-top: 10px;
}
p {
	color: black;
    font-family:serif;
    font-size: 14px;
}
fieldset {
    width: 700px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: black;
	font-weight: bolder;
	font-size: large;
	border: medium inset #F9F8F8;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 5px 5px 3px #A2A2A2;
	box-shadow: 5px 5px 3px #99ccff;
}


#btn {
  position: relative;

  display: inline-block;
  margin: 10px auto;
  padding: 10px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: Orange;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

#btn:hover, #btn:focus {
  background-color: steelblue;
}

#btn > * {
  position: relative;
}

#btn span {
  display: inline-block;
  padding: 0px 24px;
}

#btn:before {
  content: "";
  
  position: relative;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 100px;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);

}

.style1{
    float: right;
}

#credits{
    float: right;
    margin-right: 600px;
    padding-top:5px;
}
#credits h2{
    color: Orange;
    font-size: 23px;
}
